*{
    box-sizing: border-box;
}
header {
    position:relative;
}
.container{  /* container*/
    width:82%;
    margin:auto;
    /* background-color: aliceblue; */
}
body{
    margin:0;
    width:100%;
    /* background-color: aqua; */
}
.container-img{
    position: relative;
    width:100%;
    height:425px;

}
.container-img img{
    width:100%;
    height:100%;
    object-fit: cover;
} 
.header_body_section{
    position:absolute;
    top:0;
    width:100%;
    color:white;  
}
.nav{              
    /* position:absolute;
    top:0;
    width:100%;
    color:white; */
    height: 50px;
    font-weight: 550px;
}
.container-nav{
    display: flex;
    justify-content:space-between;
    align-items:center;

}
.container-logo{
    display:flex;
    align-items: center;
}
.container-logo p{
    padding:5px;
}
.nav ul {
    list-style:none;
    display:flex;
}
.nav ul li{
    font-size:20px;
    font-weight:105;
    padding:0px 4px;
    margin-right:23px;
}
.nav ul li a{
    text-decoration:none;
    color:white;
}
.l-zomato{
    width:290px;
}
.container-header-body{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 420px;
    flex-direction: column;
    /* background-color: red; */

}
.headerbody-content{
    position:relative;
    top:-50px;
}
.h-caption{
    font-size: 38px;
    font-family:sans-serif;
}
.search-c{
    background-color: white;
    width:100%;
    height:45px;
    max-width: 770px;
    border-radius: 8px;
    display:flex;
    align-items:center;
    padding:3px;
}
.location-map{
    color:rgb(200, 127, 127);
    font-size: 20px;
}
.caret{
    color:black;
}
.location input{
    font-size:16px;
    border:none;
}
.item-s{
    color:black;
}
.item-s input{
    border:none;
}



.sec-1{
    margin-top: 40px;
    margin-left:80px;
    margin-right:80px;
}
.container-f{
    display:flex;
    justify-content: space-between;
}
.features{
    overflow:hidden;
    border-radius: 20px;
}
.feature-image{
  height:160px;
  width:350px;
  overflow:hidden;
}
.feature-image img{
    width:100%;
}
.features:hover{
    cursor:pointer ;
    transition:transorm 0.3s;
    transform: scale(1.03);
}